<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAozsCrm8qOobTR717mx5jjWj63FwCdhZs</string>
	<key>GCM_SENDER_ID</key>
	<string>213070084733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoodgarage</string>
	<key>PROJECT_ID</key>
	<string>good-garage-which-trust</string>
	<key>STORAGE_BUCKET</key>
	<string>good-garage-which-trust.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213070084733:ios:e5b8f84dc4dbbf6c10cf14</string>
</dict>
</plist>